{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "src/modules/**/!(*.spec).ts",
    "src/app.ts"
  ],
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage",
  "temp-directory": "./coverage/.nyc_output",
  "branches": 0,
  "functions": 0,
  "lines": 0,
  "statements": 0
}
